{{template "header.html"}}

<body>
    <h1 class="title">
        INDEX PAGE
    </h1>

    <p>{{ .content }}
        <form action="/create-gif" method="post">
            <p>
                <label for="size-y">Ширина:</label>
                <input id="size-y" name="size-y" type="number" min="64" max="128" required><br>
            </p>
            <p>
                <label for="size-y">Высота:</label>
                <input id="size-y" name="size-x" type="number" min="64" max="128" required>
            </p>
            </p>
                <label for="input-text">Текст:</label>
                <textarea id="input-text" name="input-text"></textarea>
            </p>
            <p>
                <input type="submit">
            </p>
        </form>
    </p>
    <div>
        {{if .gif}}
        <p>
            <a href={{.gif.Name}} download>Скачать GIF</a>
        </p>
        {{end}}
    </div>
</body>
